{% include 'INS/base.html' %}
{% load static %}
{% block 'content' %}

<div class="jumbotron shadow">
    <div class="row d-inline">
        <div class="col-sm-12">



            <div class="card">

                <img class="instut-home" src="{% static 'INS/images/index.jpg' %}" alt="no-image home page"
                    width="100%" height="100%" class="img-fluid img-thubnails">
                <div class="card-img-overlay">
                    <h5 class="card-title text-primary bg-info text-center p-auto my-auto">THINK BIG Get More Than
                        Knowlede....!</h5>
                    <p class="card-text"></p>

                    <div class="adiss">
                        <table class="text-bordered text-dark text-shadow ">
                            <thead>


                                <tr>
                                    <th></th>
                                    <td class="btn btn-outline-primary">DJANGOMVT -ADI</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td> <a href="" class="btn btn-outline-primary">DJANGO GIVES EVERY OPERTUNITY TO
                                            YOU</a></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><a href="" class="btn btn-outline-primary">Every Time Getting Excietment</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th></th>
                                    <td><a href="" class="btn btn-outline-primary">Learn And Learn More</a></td>
                                </tr>

                            </thead>

                        </table>
                        <br>

                        <h1 class="bg-none pl-5 ml-5">NARAYANA TECH HOUSE</h1>
                        <button class="bg-dark"><a href="" class="btn btn-info">DJANGO</a>
                            <a href="" class="btn btn-info">PYTHON</a>
                            <a href="" class="btn btn-info">UI</a>
                            <a href="" class="btn btn-info">REST-API</a>
                            <a href="" class="btn btn-info">C</a></button>

                            <h3 class="offer">EVERY MONTH START NEW BATCH</h3>
                    </div>
                </div>
            </div>
        </div>
     
    </div>


  <footer class="bg-dark text-white mt-0 py-auto">
      <center><i class="fa fa-copyright" aria-hidden="true">DJANGOMVT-ADI</i></center>
  </footer>

</div>

{% endblock %}